.root {
  display: flex;
  align-items: center;
}

.sider {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action {
  &:last-child {
    margin-left: 10px;
  }
  &:first-child {
    margin-right: 10px;
  }
}
