.container {
  display: inline-block;
  padding: 0.5rem;
  min-width: 3rem;
}

.name {
  display: inline;
  margin-left: 0.7rem;
}

.nameContainer {
  display: flex;
}

.dishCard {
  margin: 0.3rem 1rem;
}