.root {
  display: flex;
  flex-direction: column;
}

.dishList {
  margin-top: 20px;
  
  position: relative;
  min-width: 100px;
  min-height: 100px
}

.dish:not(:last-child) {
  margin-bottom: 10px;
}
