.root {
  display: flex;
  flex-direction: column;
}

.review {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.reviews {
  margin-top: 20px;
}

.skeleton {
  display: flex;
  flex-direction: column;

  .title {
    margin-top: 20px;
    height: 23px;
    width: 100px;
  }

  .element {
    margin-top: 20px;
    height: 47px;
  }
}
