.root {
  height: 100%;
  display: grid;
  grid-template-areas: 'header header header' 'content content content' 'footer footer footer';
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
}

.content {
  width: 100%;
  grid-area: content;
  margin: 0 auto;
}

.footer {
  grid-area: footer;
}

.link {
  &:not(:last-child) {
    margin-right: 10px;
  }

  color: white;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
