$bg-color-header: #091336;
$bg-color-main: #e5e5e5;
//UI
$ui-color-input: #eaf0fa;
$ui-color-btn-default: rgb(255, 210, 93);
$ui-color-yellow: #ffd500;
$ui-color-green: #28a879;
$ui-color-red: #ea1a4f;
$ui-color-blue: #002cfb;
$ui-color-text-light-gray: #899cb1;
$ui-color-link-active: #d8e4fb52;
$ui-color-inactive: #ffffff99;
$ui-color-light-green: #dbf8ef;
$ui-color-light-red: #fee9ef;
$ui-color-light-blue: #d8e4fb;

// text
$text-default-color: #122945;
$text-secondary-color: #5e7793;
$text-header: #899cb1;

//