.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.searchFiled {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.filters {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 1rem;
  position: relative;
  margin-bottom: 20px;
  > button {
    filter: brightness(0.85)
  }
 
  > :global(button.active) {
    font-weight: bold;
    filter: none;
  }
}

.tab:not(:last-child) {
  margin-right: 5px;
}
